*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(27, 27, 27);
}

p{
    font-family: 'Cinzel', serif;
    color: rgb(230, 228, 228);
   
}

h1{
    font-family: 'Cinzel', serif;
    font-size: 20px; 
    color: rgb(230, 228, 228);
}

h2{
    font-family: 'Cinzel', serif;
    color: rgb(230, 228, 228);
   
}

h3{
    font-family: 'Cinzel', serif;
    color: rgb(230, 228, 228);
    
}

h4{
    font-family: 'Cinzel', serif;
    color: rgb(230, 228, 228);
    
}

h5{
    font-family: 'Cinzel', serif;
    color: rgb(230, 228, 228);
    
}

a{
    font-family: 'Cinzel', serif;
    color: rgb(230, 228, 228);
    
}

li{
    font-family: 'Cinzel', serif;
    color: rgb(230, 228, 228);

}

label{
    font-family: 'Cinzel', serif;
    color: rgb(230, 228, 228);
}

main{
    padding-top: 1em;
}