
#lapng{
    height: 100px;
    width: 150px;
}

#cavsnewpng{
    height: 120px;
    width: 100px;
}

#oldcavspng{
    height: 60px;
    width: 110px;
}

#miamipng{
    height: 120px;
    width: 120px;
}